
<div class="col-lg-12 sidebar row">
    <div class="name">Fagot</div>
    <ul>
      <li ><a ng-click='menu(".menu-down")'>Справочники<b class="caret"></b></a></li>
        <div class="menu-down">
          <li><a ng-href="#/ingri">Ингредиенты</a></li>
          <li><a ng-href="#/kalky">Калькуляция</a></li>
          <li><a ng-href="#/post">Поставщики</a></li>
        </div>

      <li><a ng-href="#/naklav">Накладные</a></li>
      <li><a ng-href="#/sklad">Склад</a></li>
      <li><a ng-href="#/kasa">Касса</a></li>
      <li><a ng-href="#/itog">Итоги</a></li>
    </ul>
  </nav>

</div>
