<section layout="row" flex>
  <md-sidenav ng-include="'view/header.html'" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-controller="MenuController">

  </md-sidenav>

  <!-- Конец шапки -->
  <!-- Начало контента -->
  <md-content layout-padding layout-fill layout-gt-sm="row" layout-align="start start" flex>
    <div flex="30">
      <md-card class="padding-10px" ng-repeat="kok in kokts.data">
        {{kok.title}} - {{kok.price}}
      </md-card>
    </div>
    <div flex>
      <md-card class="padding-10px">
        jim beam
        <br> bla bla
      </md-card>
    </div>
    <div flex="30">
      <md-card class="padding-10px" ng-repeat="ingridient in ingridients.data">
        <div layout-gt-sm="row">
          <div class="image-kokt1 md-block" flex="15">
            <img src="../images/1long.jpg">
          </div>

          <div flex class="kasa-row md-block">
          {{ingridient.title}} - {{ingridient.price}}
        </div>
        </div>
      </md-card>
    </div>
  </md-content>
  <!-- Конец контента -->
</section>
