<!-- Начало шапки -->
<div class="container-fluid row" ng-include="'view/header.html'">
</div>
<!-- Начало контента -->
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <button class="md-raised md-primary md-button md-default-theme md-ink-ripple btn btn-primary btn-lg"  data-ng-click="add()">
                <span class="ng-scope">
                    <ng-md-icon class="add_icon" icon="add_circle_outline" style="fill: #ffffff "  size="25"></ng-md-icon>
                    Добавить
                </span>
                <div class="md-ripple-container"></div>
            </button>
        </div>
        <div class="col-lg-12 ingridientu ">
            <md-whiteframe class="col-lg-7 col-lg-offset-1  in-in md-whiteframe-z1">
                <div data-ng-repeat="item in items">
                    <div>
                        {{item.title}}
                        <a data-target="#">
                            <ng-md-icon icon="delete" style="fill: #8C898B " size="18" data-ng-click="delete_item(item, $index)"></ng-md-icon>
                        </a>
                        <a data-target="#">
                            <ng-md-icon icon="edit" style="fill: #8C898B "  size="18"  data-ng-click="update_item(item, $index)"></ng-md-icon>
                        </a>
                    </div>
                </div>
            </md-whiteframe>
        </div>
    </div>
</div>
<!-- Конец контента -->
